@use 'styles/variables' as v;
@use 'styles/mixins' as m;

.btn {
  padding: v.$space-sm v.$space-md;
  border-radius: v.$button-border-radius;
  border: 1px solid white;
  cursor: pointer;

  &--primary {
    font-size:1.125rem;
    font-weight: 700;
    background: transparent;
    color: white;
    transition: all 0.125s ease-in;
    &:hover{
      background-color: v.$pf-orange;
    }
  }

  @include m.mq(md) {
    padding: v.$space-md v.$space-lg;
  }
}
