@use 'styles/variables' as v;
@use 'styles/mixins' as *;

.btn {
  padding: v.$space-sm v.$space-lg;
  border-radius: v.$button-border-radius;
  border: 1px solid white;
  cursor: pointer;
  margin-top: v.$space-lg;
  line-height: 1.2;
  font-weight: 700;

  &--primary {
    font-size:1.125rem;
    font-weight: 700;
    background: transparent;
    color: white;
    transition: all 0.125s ease-in;
    &:hover{
      background-color: v.$pf-orange;
    }
  }
}
