<header>
  <div class="container">
    <div class="header-left">
      <app-contact-links></app-contact-links>
    </div>
    <div id="logo">
      <ul>
        <li>
          <a routerLink="/" aria-label="Zur Startseite">
            <img class="logo-default" src="/assets/images/test_logo.svg" alt="umgestalt" />
            <img class="logo-light" src="/assets/images/test_logo_light.svg" alt="umgestalt" />
          </a>
        </li>
      </ul>
    </div>
    <div class="header-right">
      <app-language-toggle></app-language-toggle>
      <app-main-nav></app-main-nav>
    </div>
  </div>
</header>
