@use './variables' as v;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--color-text);
}

.container{
  @include container();

  @include for-size(tablet-landscape) {
    padding: 0 v.$space-md;
  }

  @include for-size(desktop) {
    padding: 0 v.$space-xxxl 0 v.$space-xxl;
  }
}

section{
  padding-top: 4.5rem;
  min-height: 100vh;
  @include for-size(tablet-landscape) {
    height: 100vh;
    min-height: auto;
    padding-top: 5.5rem;
  }
}

.d-none{
  display: none;;
}

a{
  text-decoration: none;
  color: v.$pf-orange;
}

form{
  input,
  textarea{
    border: 0;
    background-color: transparent;
  }
}
