@use './variables' as v;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--color-text);
}

.container{
  @include container();

  @include for-size(desktop) {
    padding: 0 v.$space-lg;
  }
  @include for-size(tablet-landscape) {
    padding: 0 v.$space-md;
  }
}

section{
  height: 100vh;
}

.d-none{
  display: none;;
}

a{
  text-decoration: none;
  color: v.$pf-orange;
}
