@use 'styles/variables' as v;

// Media Queries
@mixin for-size($size) {
  @if $size ==phone {
    @media (max-width: 37.43rem) {
      @content;
    }
  }

  @else if $size ==tablet-portrait {
    @media (min-width: 37.5rem) {
      @content;
    }
  }

  @else if $size ==tablet-landscape {
    @media (min-width: 56.25rem) {
      @content;
    }
  }

  @else if $size ==desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }

  @else if $size ==big-desktop {
    @media (min-width: 112.5rem) {
      @content;
    }
  }
}

// Layout
@mixin container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding: 0 v.$space-sm;
}

// Main Menu
@mixin activeMainMenu {
  color: v.$pf-blue;
  padding-left: 20px;
  transition: padding-left 0.2s ease-in-out, visibility 0s 0.2s;

  &:before {
    visibility: visible;
  }
}

// Side Menu
@mixin activeSideMenu {
  background-color: v.$pf-yellow;
  transition: all 0.2s ease-in-out;
  zoom: 1.6;
  border-radius: 0;
  transform: rotate(45deg);
  margin-left: -1px;
}

// Bouncy
@mixin bounce($duration, $timing, $iteration-count) {
  animation: bounce $duration $timing $iteration-count;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }
}
