// Colors
$pf-black: #1D1D1D;
$pf-beige: #F8F7E5;
$pf-red: #EC7B7B;
$pf-orange: #FF834F;
$pf-blue: #679AAC;
$pf-yellow: #F9AF42;

//Border-Radius
$base-border-radius: .25rem;
$button-border-radius: 40rem;

// Spacing
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-xxl: 4rem;
$space-xxxl: 6rem;

// Keyframes
@keyframes turning {
  from {
    transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
    }
}

@keyframes homeIconMoveUpDown {
  0%, 100% {
    bottom: -2rem;
  }
  50% {
    bottom: -1rem;
  }
}

@keyframes tooltipAnimation {
  0%{
    bottom: -20rem;
    opacity: 0;
  }
  100% {
    bottom: -0rem;
    opacity: 1;
  }
}
