// Colors
$pf-black: #1D1D1D;
$pf-beige: #F8F7E5;
$pf-orange: #FF834F;
$pf-blue: #679AAC;
$pf-yellow: #F9AF42;

//Border-Radius
$base-border-radius: .25rem;
$button-border-radius: 40rem;

// Spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;

