// Colors
$pf-black: #1D1D1D;
$pf-beige: #F8F7E5;
$pf-orange: #FF834F;
$pf-blue: #679AAC;
$pf-yellow: #F9AF42;

//Border-Radius
$base-border-radius: .25rem;
$button-border-radius: 40rem;

// Spacing
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-xxl: 4rem;
$space-xxxl: 6rem;


@keyframes turning {
  from {
    transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
    }
}
