<nav id="contact-links">
  <ul>
    <li class="contactlink github">
      <a href=""
        ><img class="default" src="/assets/images/github.svg" />
        <img class="active" src="/assets/images/github_active.svg"
      /></a>
    </li>
    <li class="contactlink linkedin">
      <a href=""> <img class="default" src="/assets/images/linkedin.svg" /></a>
      <img class="active" src="/assets/images/linkedin_active.svg" />
    </li>
    <li class="contactlink mail">
      <a href="">
        <img class="default" src="/assets/images/mail.svg" />
        <img class="active" src="/assets/images/mail_active.svg" />
      </a>
    </li>
  </ul>
</nav>
