<nav id="contact-links">
  <ul>
    <li class="contactlink github">
      <a href="https://github.com/volkat0r/" target="_blank"
        ><img class="default" src="/assets/images/github.svg" />
        <img class="active" src="/assets/images/github_active.svg"
      /></a>
    </li>
    <li class="contactlink linkedin">
      <a href="https://linkedin.com" target="_blank">
        <img class="default" src="/assets/images/linkedin.svg" />

        <img class="active" src="/assets/images/linkedin_active.svg"
      /></a>
    </li>
    <li class="contactlink mail">
      <a href="mailto:">
        <img class="default" src="/assets/images/mail.svg" />
        <img class="active" src="/assets/images/mail_active.svg" />
      </a>
    </li>
  </ul>
</nav>
