<nav id="sidebar-navigation">
  <ul>
    <li>
      <a [routerLink]="['/']" fragment=""><img src="/assets/images/sidenav_active.svg" /></a>
    </li>
    <li>
      <a [routerLink]="['/']" fragment="about"><img src="/assets/images/sidenav_inactive.svg" /></a>
    </li>
    <li><img src="/assets/images/sidenav_inactive.svg" /></li>
    <li><img src="/assets/images/sidenav_inactive.svg" /></li>
    <li><img src="/assets/images/sidenav_inactive.svg" /></li>
    <li><img src="/assets/images/sidenav_inactive.svg" /></li>
  </ul>
</nav>
