@use 'styles/variables' as v;
@use 'styles/mixins' as *;

#sidebar-navigation {
  .container{
    display: flex;
    align-items: center;
    justify-content: end;
    @include for-size(tablet-landscape){
      padding-right: v.$space-lg;
    }
  }
}

#sidebarList{
  display: none;
  flex-direction: column;
  position: fixed;
  top: calc(50% - 96px);
  gap: 2rem;
  height: auto;
  width: 2rem;

  li{
    display: block;
    position: relative;
    text-align: center;
    a{
      cursor: pointer;
      position: absolute;
      content:"";
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 100%;
      background-color: v.$pf-beige;
      zoom: 1;
      transition: all 0.2s ease-in-out;
      &:hover{
        background-color: v.$pf-yellow;
      }
    }
  }
  @include for-size(tablet-landscape){
    display: flex;
  }
}

:host-context(.theme-light) {
  #sidebarList a{
    background-color: v.$pf-black;
  }
}

:host-context(.sector-home) #sidebarList a.home,
:host-context(.sector-about) #sidebarList a.about,
:host-context(.sector-tech) #sidebarList a.tech,
:host-context(.sector-work) #sidebarList a.work,
:host-context(.sector-testimonials) #sidebarList a.testimonials,
:host-context(.sector-contact) #sidebarList a.contact{
  @include activeSideMenu();
}
