<nav id="sidebar-navigation" data-theme="light">
  <ul>
    <li><a [routerLink]="['/']" fragment="home" routerLinkActive="active"></a></li>
    <li><a [routerLink]="['/']" fragment="about" routerLinkActive="active"></a></li>
    <li><a [routerLink]="['/']" fragment="tech" routerLinkActive="active"></a></li>
    <li><a [routerLink]="['/']" fragment="work" routerLinkActive="active"></a></li>
    <li><a [routerLink]="['/']" fragment="testimonials" routerLinkActive="active"></a></li>
    <li><a [routerLink]="['/']" fragment="contact" routerLinkActive="active"></a></li>
  </ul>
</nav>
