@use 'styles/variables' as v;

#sidebar-navigation {
  position: fixed;
  top: 50%;
  right: 20%;

  ul{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
    height: auto;

    li{
      display: block;
      position: relative;
      a{
        position: absolute;
        content:"";
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 100%;
        background-color: v.$pf-beige;

        &.active{
          background-color: v.$pf-orange;
          transform: rotate(45);
          border-radius: 0;
        }
      }
    }
  }
}

:host-context(.theme-light) {
  #sidebar-navigation {
    ul li a{
        background-color: v.$pf-black;
    }
  }
}
