<footer>
  <div class="container">
    <div class="wheels"></div>
    <div class="corporateInfo">
      <p>© Volker Derksen 2026</p>
    </div>
    <div class="footerLinks">
      <ul>
        <li><a routerLink="/legal" fragment="imprint">Impressum</a></li>
        <li><a routerLink="/legal" fragment="privacy">Datenschutz</a></li>
        <li>
          <a href="https://www.linkedin.com/in/volker-derksen-2a340633a/" target="_blank"
            >LinkedIn</a
          >
        </li>
        <li><a href="https://github.com/volkat0r" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
