@use 'styles/variables' as v;
@use 'styles/mixins' as *;

footer{
  background-color: v.$pf-black;
  color: white;
  height: auto;
  display: block;
  padding: v.$space-md 0;
  position: relative;
  overflow: visible;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 16.44rem;
    transform: translateY(-100%);
    background-color: v.$pf-black;
    z-index: 1;
    pointer-events: none;

    @include for-size(phone) {
      height: 11rem;
    }
  }

  div.wheels{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 16.44rem;
    width: 24.5rem;
    transform: translateY(-100%);
    z-index: 3;
    pointer-events: none;
    overflow: hidden;
    contain: paint;

    @include for-size(phone){
      min-height: 11rem;
      width: 17rem;
      z-index: 2;
      top: auto;
      bottom: 0;
      transform: translateY(100%);
    }

    @include for-size(tablet-landscape){
      flex-direction: row;
      min-height: 16.44rem;
      width: 24.5rem;
    }
    &:before,
    &:after{
      position: absolute;
      content: "";
      bottom: 0rem;
      left: 0;
      background-image: url(../../../../public/assets/images/wheel_orange_big.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 10.75rem;
      height: 10.75rem;
      animation: turning 8s linear infinite;

      @include for-size(phone){
        width: 7.5rem;
        height: 7.5rem;
      }

      @include for-size(tablet-landscape){
        width: 11.25rem;
        height: 11.25rem;
      }
    }
    &:after{
      left: 8rem;
      bottom: 0rem;
      width: 15.7rem;
      height: 15.7rem;
      background-image: url(../../../../public/assets/images/wheel_blue.svg);

      @include for-size(phone){
        left: 5.6rem;
        width: 10.8rem;
        height: 10.8rem;
      }

      @include for-size(tablet-landscape){
        width: 16.44rem;
        height: 16.44rem;
      }
    }
  }

  @include for-size(phone) {
    padding-bottom: 12rem;

    div.footerLinks,
    div.corporateInfo {
      position: relative;
      z-index: 2;
    }
  }

  div.container{
    display: flex;
    position: relative;
    z-index: 4;
    flex-direction: column-reverse;
    justify-content: flex-end;
    @include for-size(tablet-landscape){
      flex-direction: row;
    }
  }
  div.corporateInfo{
    display: flex;
    justify-content: center;
    @include for-size(tablet-landscape){
      margin-right: 20%;
    }
  }
  ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    li{
      display: flex;
      gap: 1rem;
    }
    a{
      color: v.$pf-beige;
      &:hover{
        color: v.$pf-orange;
      }
    }
  }
}
