@use 'styles/variables' as v;
@use 'styles/mixins' as *;

.contentBox{
  padding: v.$space-md;
  border-radius: v.$base-border-radius;

  &.cb--black{
    background-color: v.$pf-black;
    color: v.$pf-beige;
  }

  &.cb--blue{
    background-color: v.$pf-blue;
    color: v.$pf-beige;
  }
  &.cb--work{
    background-color: v.$pf-black;
    color: v.$pf-beige;
    display:flex;
    flex-direction: column;
    align-content: center;
    @include for-size(tablet-landscape){
      min-height: 23rem;
    }
  }
  &.cb--testimonial{
    border: 1px solid v.$pf-beige;
    color: v.$pf-beige;
  }
  @include for-size(tablet-landscape){
    padding: v.$space-xl;
  }
}
