<section id="contact" data-theme="dark">
  <div class="container">
    <div class="headline-wrapper">
      <h2>{{ 'contact.intro.headline' | translate }}</h2>
      <div class="problem">
        <h4>{{ 'contact.intro.subheadline' | translate }}</h4>
        <p>{{ 'contact.intro.introtext' | translate }}</p>
      </div>
    </div>
    <div class="content-wrapper">
      <form (ngSubmit)="onSubmit(contactForm)" class="contact" #contactForm="ngForm">
        <div class="two-fields">
          <div class="name">
            <div class="field" [class.input-error]="!name.valid && name.touched">
              <label for="name">{{ 'contact.form.label.name' | translate }}</label>
              <input
                name="name"
                type="text"
                [(ngModel)]="contactData.name"
                required
                #name="ngModel"
                [placeholder]="
                  !name.valid && name.touched
                    ? ('contact.form.placeholder.name-error' | translate)
                    : ('contact.form.placeholder.name' | translate)
                "
              />
            </div>
          </div>
          <div class="email">
            <div class="field" [class.input-error]="!email.valid && email.touched">
              <label for="email">{{ 'contact.form.label.email' | translate }}</label>
              <input
                name="email"
                type="email"
                required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                [(ngModel)]="contactData.email"
                #email="ngModel"
                [placeholder]="
                  !email.valid && email.touched
                    ? ('contact.form.placeholder.email-error' | translate)
                    : ('contact.form.placeholder.email' | translate)
                "
              />
            </div>
          </div>
        </div>
        <div class="field message">
          <div class="message">
            <div class="field" [class.input-error]="!message.valid && message.touched">
              <label for="message">{{ 'contact.form.label.message' | translate }}</label>
              <textarea
                name="message"
                [(ngModel)]="contactData.message"
                required
                #message="ngModel"
                minlength="4"
                [placeholder]="
                  !message.valid && message.touched
                    ? ('contact.form.placeholder.message-error' | translate)
                    : ('contact.form.placeholder.message' | translate)
                "
              ></textarea>
            </div>
          </div>
        </div>
        <div
          class="field checkbox"
          [class.input-error]="!privacypolicy.valid && privacypolicy.touched"
        >
          <input
            type="checkbox"
            name="privacypolicy"
            #privacypolicy="ngModel"
            [(ngModel)]="contactData.privacypolicy"
            required
          />
          <label
            for="privacypolicy"
            [innerHTML]="'contact.form.placeholder.privacyPolicy' | translate"
          ></label>
          @if (!privacypolicy.valid && privacypolicy.touched) {
            <span
              class="formError"
              [innerHTML]="'contact.form.placeholder.privacyPolicy-error' | translate"
            ></span>
          }
        </div>
        <button class="btn--primary" type="submit">
          {{ 'contact.form.button.text' | translate }}
        </button>
        @if (contactForm.submitted && contactForm.invalid) {
          <span class="formError" [innerHTML]="'contact.form.label.error' | translate"></span>
        }
        <button
          class="scroll-up"
          type="button"
          (click)="scrollToSection('home')"
          aria-label="Nach oben"
        >
          <img src="/assets/images/arrow_down.svg" alt="" aria-hidden="true" />
        </button>
      </form>
    </div>
  </div>
</section>
