@use 'styles/variables' as v;
@use 'styles/mixins' as *;

#contact{
  background-color: v.$pf-black;
  color: white;
  display: flex;
  align-items: flex-start;
  padding-bottom: v.$space-xl;

  @include for-size(tablet-landscape){
    align-items: center;
    padding-bottom: 0;
  }

  h2{
    color: v.$pf-yellow;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    max-height: none;
    gap: v.$space-xl;

    @include for-size(tablet-landscape){
      flex-direction: row;
      height: auto;
      gap: v.$space-xxl;
    }

    .headline-wrapper{
      flex: 0 0 100%;

      h2{
        margin-bottom: v.$space-xl;
      }

      h4{
        margin-bottom: v.$space-md;
        color: v.$pf-orange;
      }

      @include for-size(tablet-landscape){
        flex: 0 0 40%;
      }
    }

    .content-wrapper{
      flex: 0 0 100%;

      @include for-size(tablet-landscape){
        flex: 0 0 50%;
      }
    }
  }

  form{
    width: 100%;
    max-width: 42rem;

    div.field{
      display: flex;
      flex-direction: column;

      &.message,
      &.checkbox{
        margin-top: v.$space-xl;
      }

      &.message{
        display: block;
        width: 100%;
      }

      &.checkbox{
        flex-direction: row;
        align-items: flex-start;
      }

      @include for-size(tablet-landscape){
        max-width: 37.5rem;
      }
    }

    div.two-fields{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include for-size(tablet-landscape){
        flex-wrap: nowrap;
        gap: v.$space-xl;
      }

      div{
        flex: 1 1 100%;

        @include for-size(tablet-landscape){
          flex: 0 0 50%;
        }
      }
    }

    .name,
    .email,
    .message{
      margin-top: v.$space-xl;

      div.field{
        width: 100%;

        &.input-error{
          label{
            color: v.$pf-orange;
          }

          input::placeholder,
          textarea::placeholder{
            color: v.$pf-orange;
          }
        }
      }

      label{
        font-size: 1.25rem;
        font-weighT: 700;
        padding: 0 v.$space-md;

        @include for-size(tablet-landscape){
          font-size: 1.5rem;
        }
      }

      input, textarea{
        padding: v.$space-md;
        min-height: 3rem;
        color: white;
        font-size: 1rem;
        line-height: 1.4;
        border-bottom: 1px solid v.$pf-yellow;
      }

      textarea{
        min-height: 8rem;
        resize: vertical;
      }
    }
    .checkbox{
      display: flex;
      gap: 1rem;

      .formError{
        display: flex;
        flex-wrap: wrap;
      }

      input{
        border: 0;
        position: relative;
        visibility: hidden;
        cursor: pointer;

        &:before{
          visibility: visible;
          position: absolute;
          content: "";
          top: 0.2rem;
          left: 0;
          background-image: url(../../../../public/assets/images/checkox_unchecked.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          width: 1rem;
          height: 1rem;
        }

        &.ng-valid:before{
          background-image: url(../../../../public/assets/images/checkox_checked.svg);
        }
      }
    }
  }
}

.btn--primary{
  padding: v.$space-sm v.$space-lg;
  border-radius: v.$button-border-radius;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  margin-top: v.$space-lg;
  line-height: 1.2;
  font-weight: 700;
  font-size:1.125rem;
  transition: all 0.125s ease-in;
  width: fit-content;
  &:hover{
    background-color: v.$pf-orange;
  }
}

span.formError{
  color: v.$pf-orange;
  font-size: 0.8rem;
  margin: v.$space-sm 0;
}
