@use 'styles/variables' as v;
@use 'styles/mixins' as *;

#about{
  display: flex;
  justify-content: space-between;
  background-color: v.$pf-beige;
  color: v.$pf-black;
  height: 100vh;

  @include for-size(tablet-landscape){
    justify-content:center;
    align-items: flex-end;
  }
  .container{
    display: block;
    padding: 20% 0;
    @include for-size(tablet-landscape){
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding:0;
    }
  }
}

.headline-wrapper{
  display: block;
  text-align: right;
  width: 100%;
  padding: 0 v.$space-xl;
  margin-bottom: v.$space-xl;
}

.about_container{
  display: block;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 v.$space-lg;
  @include for-size(tablet-landscape){
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 5%;
  }
}

#about-image{
  display: flex;
  width: 80%;
  img{
    height: auto;
    width: 80%;
    @include for-size(tablet-landscape){
      height: 80vh;
      width: auto;
    }
  }
  @include for-size(tablet-landscape){
    width: 100%;
  }
}

#about-text{
  display: flex;
  width: 80%;
  margin-top: -30%;
  margin-left: 20%;
  .contentbox-wrapper{
    display: flex;
    #aboutText{
      @include for-size(tablet-landscape){
        max-width: 37.5rem;
      }
    }
  }
  @include for-size(tablet-landscape){
    margin-left: -10rem;
    margin-top: 0;
    width: 100%;
  }
}

.btn-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .icon{
    cursor: pointer;
    position: relative;
    width: auto;
    height: auto;
    img{
      width: 2rem;
      height: 2rem;
      display: block;
      position: absolute;
      left: -2rem;
      bottom: 2rem;
      animation: homeIconMoveUpDown 1s linear infinite;
    }
  }
}

#aboutDialog{
  .dl--blue{
    left: 43%;
    top: 47%;
  }
}

#social{
  li{
    position: relative;
    padding-left: 1.2rem;

    &:before{
      content: "";
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      left:0rem;
      top: 0.4rem;
      background-image: url(../../../../public/assets/images/list_checkmark.svg);
      background-repeat: no-repeat;
    }
  }
}

