@use 'styles/variables' as v;
@use 'styles/mixins' as *;

#work{
  background-color: v.$pf-beige;
  color: black;
  display: flex;
  align-items: center;
  color: v.$pf-black;
  .container{
    display: block;
    padding: 0 v.$space-xl;;
  }
}

.headline-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: v.$space-xl;
  margin-bottom: v.$space-xl;
  @include for-size(tablet-landscape){
    flex-direction: row;
  }
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  gap: v.$space-xl;

  .showcase-box{
    display: flex;
    max-width: 30.5rem;
    aspect-ratio: 1 / 1;
    width: 100%;
    background: v.$pf-yellow;
    padding: v.$space-xl;
    border-radius: v.$base-border-radius;
    border: 1px solid v.$pf-black;
    position: relative;

    &:before{
      position: absolute;
      content: "";
      bottom: 0rem;
      left: 0;
      background-image: url(../../../../public/assets/images/wheel_orange_big.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 16.625rem;
      height: 16.625rem;
      @include for-size(tablet-landscape){
        width: 16.625rem;
        height: 16.625rem;
      }
    }
    img{
      width: 100%;
      height: auto;
      object-fit:contain;
      z-index: 1;
    }
    @include for-size(tablet-landscape){
      max-width: 30.5rem;
    }
  }
  @include for-size(tablet-landscape){
    flex-direction: row;
    align-items: center;
  }
}

#workBox{
  @include for-size(tablet-landscape){
    max-width: 37.5rem;
  }

}
ul.reference-nav{
  display: flex;
  justify-content: space-between;
  margin: v.$space-md 0;
  gap: v.$space-lg;
  li{
    cursor: pointer;
    font-weight:700;
  }
}
